<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        
    </settings>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="top.wuml.oa.datasource.DruidDataSourceFactory">
                <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/oa?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
                <property name="initialSize" value="10"/>
                <property name="maxActive" value="20"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/TestMapper.xml"></mapper>
        <mapper resource="mappers/UserMapper.xml"></mapper>
        <mapper resource="mappers/EmployeeMapper.xml"></mapper>
        <mapper resource="mappers/NodeMapper.xml"></mapper>
        <mapper resource="mappers/LeaveFormMapper.xml"></mapper>
        <mapper resource="mappers/ProcessFlowMapper.xml"></mapper>
        <mapper resource="mappers/DepartmentMapper.xml"></mapper>
        <mapper resource="mappers/NoticeMapper.xml"></mapper>
    </mappers>
</configuration>



